@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

@font-face {
    font-family: Vtks Lettering;
    src: url(fontes/BrownSugar.ttf);
}

@font-face {
    font-family: 'Brown Sugar';
    src: url(../fontes/brown-sugar/BrownSugar.ttf);
}

@font-face {
    font-family: 'Extenda';
    src: url(../fontes/extenda/Extenda-80-Peta-trial.ttf);
}

/*--------------------------------------------CONFIGURAÇÕES GERAIS---------------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    /*background: linear-gradient(81deg, rgba(206,210,221,1) 0%, rgba(217,224,230,1) 100%);*/
    font-family: Montserrat, sans-serif;
    padding: 0px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/*----------------------------------------FIM DAS CONFIGURAÇÕES GERAIS------------------------------------------------*/





/*--------------------------------------------CONFIGURAÇÕES HEADER----------------------------------------------------*/
header {
    text-align: justify;
}

/*----------------------------------------FIM DAS CONFIGURAÇÕES HEADER------------------------------------------------*/




/*-----------------------------------------------RESUMO VIVIAN--------------------------------------------------------*/

@keyframes moveToLeft {
    from {
      transform: translateX(320px);
    }
    to {
      transform: translateY(0px);
    }
  }

  @keyframes moveToRigth {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateY(300px);
    }
  }

  @keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

.informacoes-pessoais {
    display: flex;
    flex-direction: row;
    background: linear-gradient(360, rgba(0, 0, 0, 0.979) 0%, rgba(0, 0, 0, 0.979) 100%); 
}

.resumo {
    font-size: 20px;
    text-align: justify;
    width: 50%;
    margin-left: 10%;
    margin-top: 150px;
    color: white;
    font-family: 'Raleway', sans-serif;
}
 

.imagem-vivian > img {
    border-radius: 2px;
     width: 100%;
}

.imagem-vivian  {
    width: 50%;
    margin-right: 10%;
}


.exp-proc {
    margin-top: 10%;
    display: block;
    flex-direction: row;
}

.exp-proc picture {
    display: block;
    text-align: center;
}

.pt-01 {
    display: flex; 
    flex-direction: row;
    width: 85%;
}

.exp-proc p {
    text-align: center;
    margin-left: 10%;
    margin-right: 15%;
}

.pt-01 p {
    text-align: center;
    margin-left: 12%;
    
}

/*---------------------------------------------FIM DO RESUMO VIVIAN--------------------------------------------------*/

/*------------------------------------------------TITULO ESPECIALIDADES------------------------------------------------*/
.tt-especialidades {
    display: flex;
    width: 73%;
    justify-content: space-around;
    margin: 2% 12% 2% 12%;
}

.tt-especialidades h2 {
    font-size: 15px;
}
/*-----------------------------------------------FIM TITULO ESPECIALIDADES--------------------------------------------*/

/*-----------------------------------------------ESPECIALIDADES--------------------------------------------------------*/
.tt-servicos {
    color: rgba(253, 187, 45, 0.466); 
    font-family: 'Brown Sugar'; 
    padding: 30px; 
    text-align: center; 
    margin-top: 30px;
}

.especialidades { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify;
    color: white;
    width: 90%;
    margin: 2%;
    padding-bottom: 50px;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    /*border-radius: 20px;
    border: 3px solid rgba(253, 187, 45, 0.466);*/
}
 

.logo-vivian {
    width: 90%; 
    margin-left: 87%; 
    margin-top: 60px;
}
 

 
/*-----------------------------------------------FIM ESPECIALIDADES-----------------------------------------------------*/

/*-----------------------------------------------MÉTODO LIPLIFT PRINCIPAL-----------------------------------------------*/

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}


.slide-show{
  overflow: hidden;
}

.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin-top: 10px;
}
  
.liplift-pro {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;  
    width: 100%;
    border-radius: 20px;
    background-color: rgba(253, 187, 45, 0.315);
    box-shadow: 7px 7px 13px 0px #47401d;
}   

.proc-lip {
    width: 50%;
    padding: 0px;
    text-align: center;
    
}

.liplift-pro h1 {
    margin-left: 5%;
    color: #FCE259;
    font-size: 35px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
}

.proc-lip img {
    padding: 0px;
    width: auto;
    height: 500px;
    border-radius: 5px;
  
}

.txt-lip {
    width: 50%; 
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
}

.txt-lip span {
    background-color: #FCE259;
    text-decoration: none;
    font-weight: bold;
    border: 20px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.txt-lip a {
    text-decoration: none;
}

/*------------------------------------------FIM DO MÉTODO LIPLIFT PRINCIPAL---------------------------------------------*/



.call {
    text-decoration: none;
    border: 20px;
    padding: 10px;
    background-color: #FCE259;
    border-radius: 15px;
    margin-left: 40%;
    color: black;
    box-shadow: 7px 7px 13px 0px rgba(156, 133, 133, 0.817);
}

.call a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}



/*-----------------------------------------------------FOOTER------------------------------------------------------------*/
.foot {
    color: white;
    font-size: 10px;
    text-align: center;
    height: 30px;   
    background: black;
}

.foot a {
    text-decoration: none;
    color: white;
}

/*-----------------------------------------------FIM DO FOOTER-----------------------------------------------------------*/



@media only screen and (min-width: 200px) and (max-width: 480px) {
   
    * {
        margin: 0px;
        padding: 3px;
    }

   
    main {
        display: flex;
        flex-direction: column;
        margin: 0px;
        height: auto;
        margin-top: 0px;
        
    }
    
    .informacoes-pessoais, .liplift-pro, .especialidades, .tira-duvidas {
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: center;
        margin-left: 0%;
    }

    .informacoes-pessoais .viviann{
        width: 327px;
        margin-left: 0px;
    }

    .resumo {
        width: auto;
        margin-top: 0px;
        height: auto;
        margin-left: 0%;
        margin-bottom: 30px;
    }

    .imagem-vivian {
        width: 363px;
        margin-top: 20px;
        height: 100%;
    }

    .txt-exp p {
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }

    .art-ser {
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
    }

    .especialidades { 
        display: flex;
        text-align: center;
        width: auto;
        flex-wrap: wrap;
        padding-bottom: 50px;
        margin-top: 20%;
        padding: 0px;
        
    }

    .especialidades ul,h3 {
        margin-left: 10px;
    }

    .logo-vivian {
        width: 90%; 
        margin-left: 5%; 
        margin-top: 60px;
    }
     

    .call {
        text-decoration: none;
        border: 20px;
        padding: 10px;
        background-color: #FCE259;
        border-radius: 15px;
        margin-left: 30%;
        color: black;
        box-shadow: 7px 7px 13px 0px rgba(156, 133, 133, 0.817);
    }

    .especialidades {
        margin: 20px;
    }

    
    section.liplift-pro {
        background-color: black;
        box-shadow: 7px 7px 13px 0px #070600;
        border-radius: 0px;
        margin-bottom: 50px;
    }

    .proc-lip {
        display: none;
    }

    .proc-resp {
      display: block;
      flex-direction: column;
    }

    /*.proc-lip, .txt-lip {
        width: 100%;
       
        align-items: center;
        text-align: center;
    }*/

    .txt-lip {
        width: 100%;
        margin-bottom: 30px;
    }

    .pt-01 {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .pt-01 p {
        text-align: center;
        padding: 2%;
    }

    picture p {
        text-align: center;
    }
 
}   

@media only screen and (min-width: 481px) { 
    div.proc-resp {
        display: none;
    }
}